@font-face {
  font-family: tommy;
  src: url("./libreria/TOMMY___.TTF");
}

@font-face {
  font-family: OpenSans;
  src: url("./libreria/OpenSans.ttf");
}

:root {
  ---color-main: #009649;
  ---color-back: #f4e72f;
  ---text-main: tommy;
  ---text-second: OpenSans;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulos {
  font-size: 40px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.subtitulos {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(---color-main);
}

/* Menu principal */
.menu-principal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 30px;
  margin-top: 10px;
  background: rgb(234, 234, 234);
  z-index: 1;
}

.logo img {
  width: 50%;
  cursor: pointer;
}

.menu-bar {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.menu-bar .enlaces ul li {
  display: inline-block;
  padding: 0 10px;
}

.menu-bar .enlaces ul li a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(---text-main);
  font-weight: 600;
  color: black;
  background: linear-gradient(currentColor, currentColor);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: all 0.5s;
  cursor: pointer;
}

.menu-bar .enlaces ul li a:hover {
  color: var(---color-main);
  background-size: 70% 2px;
}

.menu-bar .sociales a {
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-texto);
  transition: all 0.5s;
  transform: scale(1.5);
}

.menu-bar .sociales a span {
  transform: scale(1.15);
  transition: all 0.5s;
}

.menu-bar .sociales a span:hover {
  transform: scale(2);
}

.menu-bar .sociales a:hover {
  color: var(---color-main);
  transform: scale(2.5);
}

.menu-principal i {
  cursor: pointer;
  color: var(--color-texto);
  font-size: 30px;
  float: right;
  display: none;
  transition: all 0.5s;
}

.menu-principal i:hover {
  color: var(--color-secundario);
}

/* sections  */

/* footer */
footer {
  height: 70vh;
  padding: 60px;
  position: relative;
}

.form .titulo-contacto .titulos {
  font-family: var(---text-main);
}

.form .titulo-contacto .subtitulos {
  font-family: var(---text-second);
}

#formulario {
  width: 70%;
  margin: 50px auto;
}

.two-fiels {
  display: flex;
  justify-content: space-between;
}

.input-text,
.input-email,
.textarea {
  border: 1px solid #b4b4b4;
  color: #888;
  background: #fff;
  outline: none;
  padding: 15px 60px;
  height: 45px;
  font-size: 16px;
  margin-bottom: 20px;
  transition: all 0.5s;
}

.textarea {
  width: 100%;
  height: 180px;
  resize: none;
}

.input-text,
.input-email {
  height: 15%;
  width: 100%;
}

.inputConIcon {
  display: flex;
  flex-direction: row-reverse;
  width: 40%;
}

.inputConIcon i {
  display: flex;
  align-items: center;
  height: 45%;
  left: 0;
  padding: 14px 15px;
  background: #888;
  color: #fff;
  transition: all 0.5s;
}

.textareaIcon {
  width: 100%;
}

.textareaIcon i {
  position: absolute;
  background: transparent;
  color: #888;
  font-size: 25px;
  left: 230px;
  top: 190px;
  transition: all 0.5s;
}

.inputConIcon input:focus,
.inputConIcon textarea:focus {
  border: 1px solid var(---color-main);
}

.inputConIcon input:focus + i {
  background: var(---color-main);
}

.inputConIcon textarea:focus + i {
  color: var(---color-main);
}

.fiels-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-input {
  padding: 15px 50px;
}

.btn-input:hover {
  padding: 15px 65px;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background: var(---color-main);
  font-weight: 700;
  padding: 15px 30px;
  outline: none;
  border: 2px solid var(---color-main);
  cursor: pointer;
  position: relative;
  top: 20px;
  transition: all 0.3s;
}
.mapa {
  width: 100%;
  height: 100%;
  margin: 250px;
}

@media (max-width: 952px) {
}

header .main_menu ul {
  display: flex;
  gap: 10px;
}

@media (max-width: 858px) {
  .titulos {
    font-size: 30px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
  }

  .subtitulos {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(---color-main);
  }
  /* menu principal */

  .logo img {
    width: 50%;
    cursor: pointer;
    margin-left: 100px;
  }

  .menu-principal {
    position: fixed;
    top: 0;
    margin-top: 0;
  }

  .menu-principal i {
    display: block;
  }

  .menu-bar {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    background: rgb(234, 234, 234);
    transition: all 1s;
    transform: translateX(100%);
  }

  .menu-bar.active {
    transform: translateX(0%);
  }

  .menu-bar i {
    position: absolute;
    right: 50px;
    top: 50px;
  }

  .menu-bar .enlaces ul li {
    display: block;
    padding: 20px 10px;
    text-align: center;
  }

  .menu-bar .enlaces ul li a,
  .menu-bar .sociales a {
    font-size: 20px;
  }

  /* contacto  */
  #formulario {
    width: 100%;
  }

  .two-fiels {
    flex-direction: column;
  }

  .inputConIcon {
    width: 100%;
  }

  /* alertas */

  .alert {
    width: 100%;
  }

  .alert.show {
    transform: translateY(150%);
  }
}
